/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fffef8;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
.main-content {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans", serif;
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 109px 0;
}
main {
  max-width: 950px;
  margin: auto;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 44px;
}
nav li {
  font-size: 1.2em;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav .fa-instagram {
  font-size: 23px;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 109px 0;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin-right: 5em;
  height: 335px;
  width: 474px;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin: 1em auto;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 21px 0 50px 0;
}
.filters input {
  display: flex;
  align-items: center;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: #1d6154;
  background-color: #ffffff;
  height: 37px;
  padding: 0 19px;
  border: 2px solid #1d6154;
  border-radius: 60px;
}
.filters input:hover {
  background-color: #1d6154;
  color: #ffffff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
}

.gallery img {
  width: 100%;
  margin-bottom: 7px;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 36px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

/****** aside modal ******/
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal2 {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modalWrapper {
  width: 630px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  border-radius: 10px;
}

/****** footer ******/

footer nav ul {
  display: flex;
  justify-content: flex-end;
  font-family: "Work Sans", serif;
  font-size: 14px;
  height: 60px;
  padding-right: 107px;
}

.d-flex {
  display: flex;
}

h3 {
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}

.galleryModal {
  width: 67%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 50px 0;
  border-bottom: 1px solid #b3b3b3;
}

.galleryModal img,
.width100 {
  width: 100%;
}

.galleryModal article {
  position: relative;
}

.galleryModal button {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  align-content: center;
  width: 17px;
  height: 17px;
  border-radius: 2px;
}

.jsCloseModal,
.jsCloseModal2 {
  border: none;
  background: none;
  margin: 20px;
}

.jsReturnModal1 {
  border: none;
  background: none;
  margin: 20px;
}

.modalAddPicture {
  text-decoration: none;
  color: white;
  height: 36px;
  width: 237px;
  background-color: #1d6154;
  text-align: center;
  align-content: center;
  border-radius: 60px;
  margin: 30px 0;
}

.width-420 {
  width: 420px;
}

.height-51 {
  height: 51px;
}

.zIndex0 {
  z-index: 0;
}

#image {
  z-index: 1;
  opacity: 0;
  width: 420px;
  margin-top: -20px;
}

.height-170 {
  height: 170px;
}

.size59 {
  font-size: 59px;
}

.cssAddPictureInput {
  color: #1d6154;
  height: 36px;
  width: 173px;
  background-color: #cbd6dc;
  text-align: center;
  align-content: center;
  border: none;
  border-radius: 60px;
}

.buttonAddImg {
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 30px 0;
}

.position-absolute {
  position: absolute;
}

.border-none {
  border: none;
}

.buttonValidateArticle {
  display: block;
  background-color: #a7a7a7;
  color: #ffffff;
  height: 36px;
  width: 173px;
  text-align: center;
  align-content: center;
  border-radius: 60px;
  margin: 2em auto;
}

.boxshadow9 {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.width-416 {
  width: 416px;
}

.modalWrapper label {
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0;
}

.margin10TopBot {
  margin: 20px 0;
}

form img {
  display: none;
  background-color: #e8f1f6;
  align-items: center;
  margin: 30px 0;
  object-fit: contain;
  width: 420px;
  height: 170px;
}

/****** Objets a deplacer ******/

.backgroundGreen {
  background-color: #1d6154;
}

.backgroungWhite {
  background-color: #ffffff;
}
